<nav class="navbar navbar-default navbar-fixed-top hestia_left navbar-not-transparent">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/index.html" title="MSX Bits">
          <img src="/assets/img/msxlogo.png" alt="MSX Bits">
        </a>
      </div>
      <div id="main-navigation" class="collapse navbar-collapse">
        <ul id="menu-menureserva" class="nav navbar-nav">
          <li><a title="Recursos" href="https://msx.org">MSX Resource Center</a></li>
        </ul>
      </div>
    </div>
  </nav>